includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - config
        - tests
    tmpDir: build/phpstan
    checkModelProperties: true
    treatPhpDocTypesAsCertain: true
    tipsOfTheDay: true